<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termo de Consentimento</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            background: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            width: 700px;
            text-align: justify;
        }
        .container h2 {
            text-align: center;
        }
        .terms {
            max-height: 300px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 15px;
        }
        button {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px;
            width: 100%;
            margin-top: 15px;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
    </style>
<link rel="icon" href="../static/assets/icon/logo.ico" type="image/x-icon">
</head>
<body>

    <div class="container">
        <h2><img src="IFCE.png" alt=""></h2>
        <h2>Termo de Consentimento
            <p>Análise Sensorial</p>
        </h2>

        <div class="terms">
            <p>
                <strong> <p>TERMO DE CONSENTIMENTO LIVRE E ESCLARECIDO</p></strong>

                AVALIAÇÃO SENSORIAL DE BISCOITO DE CHOCOLATE TIPO COOKIE SEM GLÚTEN ADICIONADO DE FARINHAS DE AMARANTO E ARROZ
                <strong><p>Profa: Dra. Masu Capistrano Camurça Portela</p></strong>
            </p>
            <p>
                Você está sendo convidado a participar como voluntário de uma pesquisa. Este documento, chamado Termo de Consentimento Livre e Esclarecido, visa assegurar seus direitos como participante e é elaborado em duas vias, uma que deverá ficar com você e outra com o pesquisador.
            </p>
            <p>
                Por favor, <strong>LEIA COM ATENÇÃO E CALMA</strong>, aproveitando para esclarecer suas dúvidas. Se houver perguntas antes ou mesmo depois de assiná-lo, você poderá esclarecê-las com o pesquisador. Se preferir, pode levar este Termo para casa e consultar seus familiares ou outras pessoas antes de decidir participar. Não haverá nenhum tipo de penalização ou prejuízo se você não aceitar participar ou retirar sua autorização em qualquer momento.
            </p>
            <p><strong>Justificativa e objetivos:</strong></p>
            <p>Devido à doença, um dos principais problemas que o consumidor celíaco enfrenta é na disponibilidade e qualidade de alimentos sem glúten, com custo que se enquadre na renda familiar e que apresentem características sensoriais agradáveis.
                Por isso, o aproveitamento de produtos derivados de arroz e amaranto na alimentação humana, agregando o sabor do chocolate através da incorporação destes em formulações de biscoitos, é uma excelente estratégia para aumentar o valor nutricional e conferir características funcionais aos produtos isentos em glúten, sem agregar valores elevados no produto final.</p>
            <p><strong>Procedimentos:</strong></p>
            <p>Participando do estudo você está sendo convidado a: realizar análise sensorial de Biscoito de Chocolate tipo cookie sem glúten adicionado de Farinhas de Arroz e Amaranto e preenchimento de formulário. Sua avaliação sensorial tem um tempo estimado de 10 minutos. O teste será aplicado nesta instituição e não será necessário deslocamento. Não será necessário a sua participação de outras vezes.</p>
            <p><strong>Desconfortos e riscos:</strong></p>
            <p>Você <strong>n͟ã͟o͟</strong> deve participar deste estudo caso venha a ter alguma alergia ou rejeição a algum dos componentes do alimento anteriormente informados. Serão excluídos avaliadores que não concordarem com o TCLE de acordo com a resolução nº 466, de 12 de dezembro de 2012 e que durante a seleção prévia à análise sensorial, relatarem histórico de alergia ou intolerância a algum ingrediente presente nos produtos testados ou que desconhecem que possuem algum tipo de alergia ou intolerância a algum dos ingredientes da fórmula.
                Os riscos presentes para o participante são baixos desde que o participante não apresente nenhum problema de alergia ou intolerância alimentar a qualquer componente da formulação, e se este for detectado, o participante terá todo o auxílio, tanto médico, psicológico e moral quanto financeiro, ficando o responsável pela pesquisa encarregado de acompanhar todo o processo. Você não deve participar deste estudo se estiver impossibilitado de seguir as orientações expressas nesse documento.</p>
            <p><strong>Benefícios:</strong></p>
            <p>O participante da pesquisa será beneficiado em ter a possibilidade de encontrar a longo prazo no mercado produtos diferenciados e com agregado valor nutricional elaborados com vegetais presentes no semiárido nordestino e ainda contribuirão para o conhecimento científico e tecnológico, para o desenvolvimento socioeconômico dos agentes envolvidos na cadeia produtiva em questão e para a sociedade como um todo.</p>
            <p><strong>Acompanhamento e assistência:</strong></p>
            <p>Caso sejam detectadas algum dano a saúde em situações que indiquem a necessidade de uma intervenção médica, pedagógica, nutricional, psicológica, fisioterápica,

                fonoaudiológica ou outra será fornecida assistência imediata e integral por servidores do IFCE ou será dada encaminhamento, em situação de emergência, para assistência médica, incluindo o eventual acompanhamento após o encerramento ou interrupção da pesquisa. O pesquisador responsável pela pesquisa garantirá o ressarcimento e a cobertura das despesas tidas pelos participantes da pesquisa e dela decorrentes, além de garantir a indenização diante de eventuais danos decorrentes da pesquisa.</p>
            <p><strong>Sigilo e privacidade:</strong></p>
            <p>Você tem a garantia de que sua identidade será mantida em sigilo e nenhuma informação será dada a outras pessoas que não façam parte da equipe de pesquisadores. Na divulgação dos resultados desse estudo, seu nome não será citado.</p>
            <p><strong>Ressarcimento e indenização:</strong></p>
            <p>Você terá direito ao ressarcimento das despesas diretamente decorrentes de sua participação na pesquisa e à indenização pelos danos resultantes desta, nos termos da Lei vigente estabelecida.</p>
            <p><strong>Contato:</strong></p>
            <p>Em caso de dúvidas sobre a pesquisa, você poderá entrar em contato com a pesquisadora Profa. Dra. Masu Capistrano Camurça Portela, IFCE Eixo Produção Alimentícia - Av. Dr. Guarani, 317, Derby Club, Sobral – CE, 62042-030; fone 88 9 9962-2910 e-mail: masu.portela@ifce.edu.br.</p>
            <p><strong>Consentimento livre e esclarecido:</strong></p>
            <p>Após ter recebido esclarecimentos sobre a natureza da pesquisa, seus objetivos, métodos, benefícios previstos, potenciais riscos e o incômodo que esta possa acarretar, aceito participar e declaro estar recebendo uma via original deste documento assinada pelo pesquisador e por mim, tendo todas as folhas por nós rubricadas:
                <p>Nome do(a) participante: _______________</p>
                <p>Contato telefônico (opcional): _______________</p>
                <p>E-mail (opcional): _______________</p>
                <p>Data: ____/____/_____</p>
            </p>
            <p><strong>Responsabilidade do Pesquisador:</strong></p>
            <p>Asseguro ter cumprido as exigências da resolução 466/2012 CNS/MS e complementares na elaboração do protocolo e na obtenção deste Termo de Consentimento Livre e Esclarecido. Asseguro, também, ter explicado e fornecido uma via deste documento ao participante. Informo que o estudo foi aprovado pelo CEP e pela CONEP, quando pertinente, perante o qual o projeto foi apresentado. Comprometo-me a utilizar o material e os dados obtidos nesta pesquisa exclusivamente para as finalidades previstas neste documento ou conforme o consentimento dado pelo participante.
                <p>Nome da pesquisadora: Dra. Masu Capistrano Camurça Portela</p>
                <p>Assinatura da pesquisadora: __________________</p>
                <p>Data: ____/____/_____</p>
            </p>
        </div>

        <button onclick="aceitarTermo()">Aceitar e Prosseguir</button>
    </div>

    <script>
        function aceitarTermo() {
            alert("Tem certeza?");
            window.location.href = "{{ url_for('formulario_analise', id=id) }}";
        }
    </script>

</body>
</html>
